* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    margin: 0 auto;
}
.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}
.between {
    justify-content: space-between;
}
.around {
    justify-content: space-around;
}
ul li {
    list-style: none;
}
.wrap {
    flex-wrap: wrap;
}



/* 
header  > container

header {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: relative;
    background: conic-gradient(#bababa 270deg,#5198f5 270deg);
    animation: cp-round-animate 1s linear infinite;
}
@keyframes cp-round-animate {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.container {
    width: 200px;
    height: 200px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
} */